<section class="signup">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title">Sign up</h2>
        <form [formGroup]="registerForm" class="register-form" id="register-form">
          <div class="form-group">
            <label for="name"><i class="fas fa-user"></i></label>
            <input formControlName="username" type="text" name="name" id="name" placeholder="Your Name">
          </div>
          <div class="form-group">
            <label for="email"><i class="fas fa-envelope"></i></label>
            <input formControlName="email" type="email" name="email" id="email" placeholder="Your Email">
          </div>
          <div class="form-group">
            <label for="pass"><i class="fas fa-unlock"></i></label>
            <input formControlName="password" type="password" name="pass" id="pass" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="re-pass"><i class="fas fa-unlock-alt"></i></label>
            <input formControlName="cpass" type="password" name="re_pass" id="re_pass" placeholder="Repeat your password">
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" (click)="register()">
          </div>
        </form>
      </div>
      <div class="signup-image">
        <figure><img src="../assets/images/signup-image.jpg" alt="sing up image"></figure>
          <a (click)="moveToLogin()" class="signup-image-link">I am already member</a>
      </div>
    </div>
  </div>
</section>
