  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div class="my-0 mr-md-auto">
		<a class="navbar-brand" href="#">
        <img alt="Position² Logo" class="inner-logo hidden-xs" src="../assets/images/position2-logo-full.svg">
    </a>
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
		<a class="btn btn-outline-primary" [routerLink]="['/register']" routerLinkActive="active">SignUp</a>
  		 <a class="btn btn-outline-success" [routerLink]="['/login']" routerLinkActive="active">Login</a>
  </nav>
  
</div>